{
  "appenders": {
   "logFileAppender": {
      "type": "fileSync",
      "filename": "../dist/logs/app.log",
      "maxLogSize": 10000000,
      "backups": 10,
      "compress": true,
      "keepFileExt": true,
      "pattern": "yyyy-MM-dd-hh",
      "flags": "as+",
      "base": "../dist/"
    },
    "consoleAppender": {
      "type": "console"
    }
  },
  "categories": {
    "default": { "appenders": [ "logFileAppender", "consoleAppender"], "enableCallStack": true, "level": "debug" }
  }
}
